<%= render "shared/messages", :target => @task %>
<% new_content = params[:action] == 'new' || (params[:action] == 'create' && @task.errors.count > 0) %>
<% task_type = new_content ? params[:task_type] : @task.task_type %>
<% if new_content %>
    <p class="field switch">
      <%= radio_button_tag 'task_type', 'wnt', task_type.blank? ? false : task_type == 'wnt' %>
      <%= radio_button_tag 'task_type', 'wt', task_type.blank? ? true : task_type == 'wt' %>

      <label for="task_type_wt" class="cb-enable <%= task_type == 'wnt' ? "" : "selected" %>"><span>Add start and end times</span></label>
      <label for="task_type_wnt" class="cb-disable <%= task_type == 'wnt' ? "selected" : "" %>"><span>Add date and time spent</span></label>
    </p><br/><br/><br/><br/>
<% end %>
<div class="field clear">
  <%= label_tag :task_name %>
  <br/>
  <%= select_tag :tag_id, options_for_select(tags_with_option_to_add, @task.tag_id == "[new_tag]" ? '' : @task.tag_id), :name => "task[tag_id]" %>
  <%= text_field_tag(:add_tag) %>
</div><br/>
<% if new_content || @task.task_type == "wt" %>
    <div class="wt">
      <div class="field">
        <%= label_tag :start_time %>
        <br/>
        <%= text_field_tag :start_time, format_time_m_d_y(@task.start_time), :class => "datetime", :name => "task[start_time]" %>
      </div>
      <br/>

      <div class="field">
        <%= label_tag :end_time %>
        <br/>
        <%= text_field_tag :end_time, format_time_m_d_y(@task.end_time), :class => "datetime", :name => "task[end_time]" %>
      </div>
      <br/>

      <div class="field">
        <%= label_tag "Time Out" %>
        <span> (HH:MM)</span>
        <a class="title" rel="popover" href="#" data-original-title="Time out/Break in (HH:MM)" data-content="Total break time between a task">
          <%= image_tag("info.png", :size => "16x16", :alt => "info") %></a><br/>
        <%= text_field_tag :time_out_hours, get_time_out_hours, :class => 'time' %>
        : <%= text_field_tag :time_out_minutes, get_time_out_minutes, :class => 'time' %>
      </div>
    </div>
<% end %>
<% if new_content || @task.task_type == "wnt" %>
    <div class="wnt">
      <div class="field">
        <%= label_tag :date %>
        <br/>
        <%= text_field_tag :task_date, format_date_m_d_y(@task.start_time), :class => "date" %>
      </div>
      <br/>

      <div class="field">
        <%= label_tag "Time Spent" %>
        <span> (HH:MM)</span>
        <a class="title" rel="popover" href="#" data-original-title="Time spent in (HH:MM)" data-content="Total time spent on the task">
          <%= image_tag("info.png", :size => "16x16", :alt => "info") %></a><br/>
        <%= text_field_tag :time_spent_hours, get_additional_time_spent_hours, :class => 'time' %>
        : <%= text_field_tag :time_spent_minutes, get_additional_time_spent_minutes, :class => 'time' %>
      </div>
    </div>
<% end %>
<div class="field">
  <%= label_tag :comment %>
  <a class="title" rel="popover" href="#" data-original-title="Comment" data-content="Add a short comment for the task">
    <%= image_tag("info.png", :size => "16x16", :alt => "info") %></a>
  <br/>
  <%= text_area_tag 'comment', @task.comment, :rows => 1, :name => "task[comment]" %>
</div><br/>