<%= render "shared/messages", :target => @task %>
<div class="field">
  <%= label_tag :start_time %>
  <%= text_field_tag :start_time, format_time_m_d_y(@task.start_time), :name => "task[start_time]", :type => "date",
                     'data-role' => 'datebox', 'data-options' => '{"mode": "slidebox", "dateFormat":"%m/%d/%Y %I:%M %p", "timeFormatOverride":12, "fieldsOrderOverride":["y","m","d","h","i"]}' %>
</div><br/>
<div class="field">
  <%= label_tag :end_time %>
  <%= text_field_tag :end_time, format_time_m_d_y(@task.end_time), :name => "task[end_time]", :type => "date",
                     'data-role' => 'datebox', 'data-options' => '{"mode": "slidebox", "dateFormat":"%m/%d/%Y %I:%M %p", "timeFormatOverride":12, "fieldsOrderOverride":["y","m","d","h","i"]}' %>
</div><br/>
<div class="field">
  <%= label_tag :tag_id %>
  <%= select_tag :tag_id, options_for_select(available_tags, @task.tag_id), :name => "task[tag_id]" %>
</div><br/>
