<%= render "shared/messages", :target => @task %>
<div class="field">
  <%= label_tag :tag_id %>
  <%= select_tag :tag_id, options_for_select(available_tags, @task.tag_id), :name => "task[tag_id]" %>
</div><br/>
<% if @task.task_type == "wt" %>
    <%= hidden_field_tag 'task_type', 'wt' %>
    <div class="field">
      <%= label_tag :start_time %>
      <%= text_field_tag :start_time, format_time_m_d_y(@task.start_time), :name => "task[start_time]", :type => "date",
                         'data-role' => 'datebox', 'data-options' => '{"mode": "slidebox", "dateFormat":"%m/%d/%Y %I:%M %p", "timeFormatOverride":12, "fieldsOrderOverride":["y","m","d","h","i"]}' %>
    </div><br/>
    <div class="field">
      <%= label_tag :end_time %>
      <%= text_field_tag :end_time, format_time_m_d_y(@task.end_time), :name => "task[end_time]", :type => "date",
                         'data-role' => 'datebox', 'data-options' => '{"mode": "slidebox", "dateFormat":"%m/%d/%Y %I:%M %p", "timeFormatOverride":12, "fieldsOrderOverride":["y","m","d","h","i"]}' %>
    </div><br/>
    <div class="field">
      <%= label_tag "Time Out" %>
      <span> (HH:MM)</span>
      <%= text_field_tag :time_out_hours, get_time_out_hours, :class => 'time' %>
      : <%= text_field_tag :time_out_minutes, get_time_out_minutes, :class => 'time' %>
    </div>
<% end %>
<% if @task.task_type == "wnt" %>
    <%= hidden_field_tag 'task_type', 'wnt' %>
    <div class="field">
      <%= label_tag :date %>
      <br/>
      <%= text_field_tag :task_date, format_date_m_d_y(@task.start_time), :name => "task_date", :type => "date",
                         'data-role' => 'datebox', 'data-options' => '{"mode": "slidebox", "dateFormat":"%m/%d/%Y", "timeFormatOverride":12, "fieldsOrderOverride":["y","m","d"]}' %>
    </div>
    <br/>

    <div class="field">
      <%= label_tag "Time Spent" %>
      <span> (HH:MM)</span>
      <%= text_field_tag :time_spent_hours, get_additional_time_spent_hours, :class => 'time' %>
      : <%= text_field_tag :time_spent_minutes, get_additional_time_spent_minutes, :class => 'time' %>
    </div>
<% end %>