<% if tasks.count == 0 %>
    <div class="center notice">You have no <%= tasks_type %> tasks!</div>
<% else %>
    <table class='tablesorter'>
      <thead>
      <tr>
        <th>Task</th>
        <th>Start time</th>
        <% if tasks_type == 'completed' %>
            <th>End time</th>
        <% end %>
        <th>Time Spent</th>
        <% if tasks_type == 'ongoing' %>
            <th></th>
        <% end %>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% tasks.each do |task| %>
          <tr>
            <td align="center"><%= task.tag.name %></td>
            <td align="right"><%= format_time_d_m_y(task.start_time) %></td>
            <% if tasks_type == 'completed' %>
                <td align="right"><%= format_time_d_m_y(task.end_time) %></td>
            <% end %>
            <% time_spent = display_time(task.time_spent) %>
            <td align="right"><%= time_spent == '' ? '0m' : time_spent %></td>
            <% if tasks_type == 'ongoing' %>
                <td align="center"><%= link_to 'stop', stop_task_path(task), :class => 'stop' %></td>
            <% end %>
            <td align="center"><%= link_to '', edit_task_path(task), :class => 'edit_short' %></td>
            <td align="center"><%= link_to '', delete_task_path(task), confirm: 'Are you sure you want to delete the task?', :class => 'delete_short' %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>