<% if tasks.count == 0 %>
    <div class="center notice">You have no <%= tasks_type %> tasks!</div>
<% else %>
    <table class='tablesorter'>
      <thead>
      <tr>
        <th>Task</th>
        <th>Start time</th>
        <% if tasks_type == 'completed' %>
            <th>End time</th>
        <% end %>
        <th>Time Spent</th>
        <% if tasks_type == 'ongoing' %>
            <th></th>
        <% end %>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% tasks.each do |task| %>
          <tr>
            <td align="center"><%= task.tag.name %></td>
            <td align="right">
              <% if task.task_type == 'wnt' %>
                  <%= format_date_d_m_y(task.start_time) %>
              <% else %>
                  <%= format_time_d_m_y(task.start_time) %>
              <% end %>
            </td>
            <% if tasks_type == 'completed' %>
                <td align="right">
                  <% if task.task_type == 'wnt' %>
                      <%= format_date_d_m_y(task.end_time) %>
                  <% else %>
                      <%= format_time_d_m_y(task.end_time) %>
                  <% end %>
                </td>
            <% end %>
            <% time_spent = display_time(task.time_spent) %>
            <% time_out = 0 %>
            <% if task.task_type == 'wt' %>
                <% time_out = task.time_out.blank? || task.time_out == 0 ? "0m" : display_time(task.time_out * 60) %>
                <% content = "Time Off: #{time_out}" %>
            <% else %>
                <% content = "Task without start and end times" %>
            <% end %>
            <% if !task.comment.blank? %>
                <% content = "#{content}<br/>Comment: #{task.comment}" %>
            <% end %>
            <td align="right">
              <% if time_spent.blank?  || time_out == "0m" %>
                <%= time_spent == '' ? '0m' : time_spent %>
              <% else %>
                <a href="#" rel="popover" data-original-title="Time Spent" data-content='<%= content %>'>
                  <%= time_spent == '' ? '0m' : time_spent %>
                </a>
              <% end %>
            </td>
            <% if tasks_type == 'ongoing' %>
                <td align="center"><%= link_to 'stop', stop_task_path(task), :class => 'stop' %></td>
            <% end %>
            <td align="center"><%= link_to '', edit_task_path(task), :class => 'edit_short' %></td>
            <td align="center"><%= link_to '', delete_task_path(task), confirm: 'Are you sure you want to delete the task?', :class => 'delete_short' %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>