<% title "task management" %>
<%= form_tag :action => "start_task" do |f| %>
    <%= render "shared/messages", :target => @task %>
    <% if !flash[:error].blank? %>
        <div class="error"><%= flash[:error] %></div><br/>
    <% end %>
    <div class="field">
      <%= label_tag "start new task" %>
      <p></p>
      <%= select_tag(:select_tag, options_for_select(available_tags_with_option_to_add, @manage_task.tag_id)) %>
      <br/>
      <%= text_field_tag(:add_tag) %>
      <%= submit_tag "start", "data-icon" => 'play' %>
    </div>
    <p>&nbsp;</p>
    <div id="tabs" data-role="collapsible-set" data-theme="a" data-content-theme="d">
      <div id="ongoing_tasks" data-role="collapsible">
        <h3>Ongoing Tasks</h3>
        <%= render :partial => "task", :locals => {:tasks => ongoing_tasks, :tasks_type => "ongoing"} %>
      </div>
      <div id="completed_tasks" data-role="collapsible">
        <h3>Completed Tasks</h3>
        <%= render :partial => "task", :locals => {:tasks => completed_tasks, :tasks_type => "completed"} %>
      </div>
      <% project_invites = current_user.nil? ? [] : current_user.get_project_invites %>
      <% if project_invites.length > 0 %>
      <div id="project_invites" data-role="collapsible">
        <h3>project Invites</h3>
        <%= render :partial => "shared/project_invites", :locals => {:project_invites => project_invites} %>
      </div>
      <% end %>
    </div>
<% end %>



