<% title search_title %>
<%= javascript_include_tag "analyze_tasks" %>
<%= form_tag :action => "query_tasks" do |f| %>
    <div class="search_criteria">
      <% if params[:action] == "analyze_group_tasks" || @search_query.analyze == 'group' %>
          <div class="field">
            <%= label_tag "Group" %>
            <br/>
            <%= select_tag :search_group, options_for_select(current_user.get_groups, @search_query.groups), :multiple => true, :size => 5 %>
          </div>
          <div class="field">
            <%= label_tag "Tag" %>
            <br/>
            <%= select_tag :search_tag, options_for_select(@search_query.get_tags_for_groups, @search_query.tags), :multiple => true, :size => 5, :class => "multiselect" %>
          </div>
          <%= hidden_field_tag :analyze, "group" %>
      <% else %>
          <div class="field">
            <%= label_tag "Tag" %>
            <br/>
            <%= select_tag :search_tag, options_for_select(current_user.get_tags, @search_query.tags), :multiple => true, :size => 5, :class => "multiselect" %>
          </div>
          <%= hidden_field_tag :analyze, "task" %>
      <% end %>
      <div class="field">
        <%= label_tag "From" %>
        <br/>
        <%= text_field_tag :start_time, format_time_m_d_y(@search_query.start_time), :class => "datetime" %></div>
      <div class="field">
        <%= label_tag "To" %>
        <br/>
        <%= text_field_tag :end_time, format_time_m_d_y(@search_query.end_time), :class => "datetime" %></div>
      <br/>

      <div>
        <%= submit_tag "Search", :name => 'query', :class => 'search' %>
        <%= submit_tag "Analyze", :name => 'query', :class => 'search' %>
      </div>
    </div>
    <table id='task_results' class='tablesorter'>
      <thead>
      <tr>
        <th>Tag</th>
        <% if @search_query.search_type == "Search" && @search_query.analyze == "group" %>
            <th>User</th>
        <% end %>
        <th>Start Task</th>
        <th>End Task</th>
        <th>Goal</th>
        <th>Time Spent</th>
        <% if @search_query.search_type == "Search" %>
            <th></th>
        <% end %>
        <% if @search_query.search_type == "Analyze" %>
            <th>How am I doin'</th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @search_query.tasks.each do |task| %>
          <tr>
            <td align="center"><%= task.tag.name %></td>
            <% if @search_query.search_type == "Search" && @search_query.analyze == "group" %>
                <td align="center"><%= task.user.display_name %></td>
            <% end %>
            <td align="center"><%= format_time_d_m_y(task.start_time) %></td>
            <td align="center"><%= format_time_d_m_y(task.end_time) %></td>
            <td align="center"><%= time_allocated(task.tag) %></td>
            <% if @search_query.search_type == "Search" %>
                <td align="right"><%= display_time(task.time_spent) %></td>
                <td align="center"><%= link_to '', delete_analyze_task_path(task), confirm: 'Are you sure?', :class => 'delete_short' %></td>
            <% end %>
            <% if @search_query.search_type == "Analyze" %>
                <td align="right"><%= display_time(task.performance) %></td>
                <td align="right">
                  <span id="over_the_limit>"><%= display_time_with_performance_for(task) %></span>
                </td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= paginate @search_query.tasks %>
<% end %>