<% title search_title %>
<div class="analyze-left">
  <div class="search_criteria">
    <span class="query-title">Query</span>&nbsp;&nbsp;<span class="pointer" data-toggle="collapse" data-target="#query">(collapse/expand)↓</span><br/><br/>
    <%= render "search", :search_query => @search_query %>
    <div id="marker">&nbsp;</div><hr/>
    <%= render "summarize", :search_query => @search_query %>
  </div>
</div>
<div align="right">Showing results <%= @search_query.tasks.count %> of <%= @search_query.total_results_count %></div>
<ul id='task_results' class='list analyze-right'>
  <% @search_query.tasks.each do |task| %>
      <li id="li_<%=task.id %>">
        <div>
          <span><%= task.tag.name %></span>
          <% if @search_query.search_type == "Search" && task.user == current_user %>
            <span class="right"><%= link_to '', edit_task_path(task), :class => 'edit_short' %></span>
          <% end %>
          <div>
            <% if @search_query.search_type == "Search" && @search_query.analyze == "project" %>
                <span>User: <span class="list_text"><%= task.user.display_name %></span></span>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <% end %>
            <span>Goal: </span><span class="list_text"><%= time_allocated(task.tag) || " unavailable" %></span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <% if @search_query.search_type == "Analyze" %>
                <span>Time Spent: </span><span class="list_text"><%= display_time(task.performance) %></span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span>How am I doin': </span><span id="over_the_limit>"><%= display_time_with_performance_for(task) %></span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <% earning = calculate_earning(task.tag, task.performance)
                   if !earning.nil? %>
                    <span>Earning: </span><span class="list_text"><%= earning %></span>
                <% end %>
                <div class="progress right progress-<%= get_progress_bar_color_for_task(task) %>">
                   <div class="bar" style="width: <%= get_progress_bar_width_for_task(task) %>;"></div>
                </div>
            <% end %>
            <% if @search_query.search_type == "Search" %>
                <% time_spent = display_time(task.time_spent) %>
                <span>Time Spent: </span><span class="list_text"><%= time_spent == '' ? '0m' : time_spent %></span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <% earning = calculate_earning(task.tag, task.time_spent)
                   if !earning.nil? %>
                    <span>Earnings: </span><span class="list_text"><%= earning %></span>
                <% end %>
            <% end %>
          </div>
        </div>
        <div><span>Start: </span><span class="list_text">
          <% if task.task_type == 'wnt' %>
                <%= format_date_d_m_y(task.start_time) %>
            <% else %>
                <%= format_time_d_m_y(task.start_time) %>
            <% end %></span>
          <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <span>End: </span><span class="list_text">
          <% if task.task_type == 'wnt' %>
            <%= format_date_d_m_y(task.end_time) %>
          <% else %>
            <%= format_time_d_m_y(task.end_time) || "ongoing" %>
          <% end %></span>
          <% time_out = task.time_out.blank? ? "0m" : display_time(task.time_out * 60) %>
          <% if !time_out.blank? && time_out != '0m' %><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>Time Out: </span><span class="list_text"><%= time_out %></span><% end %>
          <% if !task.comment.blank? %>
              <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span>Comment: </span><span class="list_text"><%= truncate(task.comment) %></span>
          <% end %>
          <% if @search_query.search_type == "Search" && task.user == current_user %>
              <span class="right">
                <%= link_to '', '#', :class => 'delete_short', :id => "delete_#{task.id}", :taskId => task.id %>
              </span>
          <% end %></div>
      </li>
  <% end %>
</ul>
<p>&nbsp;</p>
<%= paginate @search_query.tasks %>
<div id="dialog-task" title="Confirm Delete">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Are you sure you want to delete?</p>
</div>
