<%= form_for(@project) do |f| %>
    <%= render "shared/messages", :target => @project %>
    <% membership = @project.get_membership(current_user.id)
       if membership.nil? || membership.is_admin && membership.accepted %>
        <div class="field">
          <%= f.label :name %>
          <br/>
          <%= f.text_field :name %>
        </div><br/>
        <div class="field">
          <%= f.label :description %>
          <br/>
          <%= f.text_area :description, :rows => 1 %>
        </div><br/>
        <div>
          <%= f.label :user_tokens, "Members" %>
          <br/>
          <%= f.text_field :user_tokens, "data-pre" => @project.users.collect { |x| NameValuePair.new(x.id, "#{x.display_name} (#{x.email})") }.to_json %>
        </div><br/>
        <div>
          <%= f.label :admins, "Admins" %>
          <br/>
          <%= select_tag :project_admins, options_for_select(@project.users.collect { |x| ["#{x.display_name} (#{x.email})", x.id] }, @project.admins.collect { |x| x.user_id }), :multiple => true, :size => 5, :class => "multiselect" %>
        </div><br/>
        <div>
          <%= f.label :tag_tokens, "Tasks" %>
          <br/>
          <%= f.text_field :tag_tokens, "data-pre" => @project.tags.collect { |x| NameValuePair.new(x.id, x.name) }.to_json %>
        </div><br/>
        <div class="actions">
          <%= f.submit :class => "button" %>
          <%= link_to 'Delete', @project, confirm: 'Deleting the project will delete all the associated tasks. Are you sure you want to delete?', method: :delete, :class => "linkbutton" %>
        </div>
    <% else %>
        <p>
          <span><b>Name</b></span><br/>
          <%= @project.name %>
        </p>
        <p>
          <b>Description</b><br/>
          <%= @project.description %>
        </p>
        <p>
          <b>Members</b><br/>
          <% @project.users.each do |member| %>
              <%= "#{member.display_name} (#{member.email})" %><br/>
          <% end %>
        </p>
        <p>
          <b>Admins</b><br/>
          <% @project.admins.each do |admin| %>
              <%= "#{admin.user.display_name} (#{admin.user.email})" %><br/>
          <% end %>
        </p>
        <% if !membership.accepted %>
            <p>&nbsp;</p>
            <div class="actions">
              <%= link_to 'Accept Invite', accept_invite_path(@project), :class => 'button' %>
            </div>
        <% end %>
    <% end %>
<% end %>
