<% title "manage projects" %>

<p class="right"><%= link_to 'add new project', new_project_path %></p>
<p>&nbsp;</p>
<table id="projects" class="tablesorter">
  <thead>
  <tr>
    <th>Name</th>
    <th>Time Logged</th>
    <th>Billable Amount</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @projects.each do |project| %>
      <tr>
        <td align="center"><%= project.name %></td>
        <td align="center"><%= display_time(project.total_time_taken) %></td>
        <td align="center"><% project.billable_amounts.each do |amount| %>
            <%= number_to_currency(amount.name, :unit => amount.value) %>&nbsp;
        <% end %></td>
        <td align="center"><%= link_to '', edit_project_path(project), :class => "edit_short" %></td>
      </tr>
  <% end %>
  </tbody>
</table>