<%= form_for(@tag) do |f| %>
    <%= render "shared/messages", :target => @tag %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div><br/>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, :rows => 1 %>
    </div><br/>
    <div class="field">
      <%= f.label :time_allocated %>
      <span> (HH:MM)/frequency</span>

      <div data-role="fieldcontain">
        <%= text_field_tag :hours, get_hours, :class => 'time' %>
        <span class="center">:</span> <%= text_field_tag :minutes, get_minutes, :class => 'time' %> /
        <%= f.collection_select(:frequency, task_frequencies, :first, :last) %>
      </div>
    </div><br/>
    <div class="field">
      <%= f.label "pay_rate/hour" %>
      <div data-role="fieldcontain">
        <%= f.collection_select(:pay_currency, currencies, :first, :last) %>
        <br/>
        <%= f.text_field :pay_rate, :class => "amount", :maxlength => 7 %>
      </div>
    </div><br/>
    <div class="field">
      <input type="checkbox" name="complete_within" id="complete_within" class="custom" <% if @tag.complete_within %>checked="checked"<% end %>/>
      <label for="complete_within">Check if your goal is to complete the task within the allocated time</label>
    </div><br/>
    <div class="field">
      <%= f.label :group_id %>
      <%= f.collection_select(:group_id, current_user.groups, :id, :name, :include_blank => "Select") %>
    </div><br/>
    <div class="actions">
      <%= f.submit "data-role" => "button" %>
      <%= link_to 'Delete Tag', @tag, confirm: 'Deleting the tag will delete all the associated tasks. Are you sure you want to delete?', method: :delete, :"data-role" => "button"  %>
    </div>
<% end %>
