<% title "Time Management System" %>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class="modal fade hide" id="login-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Sign in</h3>
      </div>
      <div id="login" class="modal-padding">
        <%= render "shared/error_messages" %>
        <div>
          <div><%= f.label :email %>
            <br/>
            <%= f.email_field :email %>
          </div>
          <br/>

          <div><%= f.label :password %>
            <br/>
            <%= f.password_field :password %>
          </div>
          <p></p>
          <% if devise_mapping.rememberable? %>
              <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
          <% end %>
          <p></p>

          <p>
            <%= f.submit "Sign in", :class => 'btn btn-large btn-info' %>
          </p>
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name) %>
              <br/>
          <% end -%>
        </div>
        <p></p>
        <span>---------------------Or--------------------------</span>
        <div>
          <p class="login-screen">Sign in using your account with:</p>

          <div id="authentication_services">
            <%= link_to image_tag("google_32.png", :size => "32x32", :alt => "google"), "/auth/google" %>
            <%= link_to image_tag("github_32.png", :size => "32x32", :alt => "github"), "/auth/github" %>
            <span class="intro">*</span>
          </div>
        </div>
        <div>*github can be used only if you have public email address set up in your github profile.</div>
        <p class="login-screen">Don't have a Time Tien account:</p>
        <%= render :partial => "devise/shared/links" %>
      </div>
    </div>
    <div id="wrapper">
      <div class="slider-wrapper theme-default">
        <div id="slider" class="nivoSlider">
          <%= image_tag "tracktime.png", 'data-thumb' => "tracktime.png" %>
          <%= image_tag "analyzetasks.png", 'data-thumb' => "analyzetasks.png" %>
          <%= image_tag "analyzeprojects.png", 'data-thumb' => "analyzeprojects.png" %>
        </div>
      </div>
      <div class="description">
        Time Tien is a simple task management application to better manage your time to make your life
        easier. Time Tien is designed to track both professional as well as personal tasks all in one place.
      </div>
      <p>&nbsp;</p>
      <div>
        <span>
            <%= link_to 'Get to know Time Tien better', about_path, :class => "btn btn-inverse btn-large btn-font" %>
        </span>
        <span class="right">
            <a id="login1" data-toggle="modal" href="#login-modal" class="btn btn-inverse btn-large login-link btn-font">Sign Up</a>
        </span>
      </div>
    </div>
    <div id="footer" align="center">
      <hr/>
      <span>© 2012 Time Tien</span>
      <div class="right"><a href="mailto:timetien@gmail.com">feedback?</a></div>
    </div>
<% end %>
