<!DOCTYPE html>
<html>
<head>
  <title>TimeTien - <%= yield(:title) %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "mobile/application" %>
  <%= javascript_include_tag "mobile/application" %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width = 480px" content="initial-scale=2, user-scalable=no"  />
</head>
<body>
<div data-role="page">
  <div id="header" data-role="header" role="banner" data-position="fixed">
    <% if user_signed_in? %>
        <%= link_to 'home', root_url, "data-role" => "button", "data-corners" => "true", "data-inline" => "false", "data-icon" => "home", "data-wrapperels" => "span" %>
        <%= link_to "sign out", destroy_user_session_path, "data-role" => "button", "data-ajax" => "false", "data-inline" => "false", :method => 'delete', "data-wrapperels" => "span" %>
    <% end %>
    <div align="center">
        <span class="app-name"><%= image_tag "timetien_mobile.png", :width => 150, :alt => "Time Tien" %></span>
    </div>
  </div>
  <div id="main" data-role="content">
    <div class="title"><%= yield(:title) %>
      <hr/>
    </div>
    <% flash.each do |key, value| %>
        <% if key.to_s != "error" && !value.blank? %>
            <div class="<%= key %>"><%= value %></div>
        <% end %>
    <% end %>
    <% if !(flash[:info].nil? && flash[:notice].nil? && flash[:success].nil? && flash[:error].nil?) %>
    <% end %>
    <%= yield %>
  </div>
  <div id="footer" data-role="footer" role="banner" data-position="fixed">
    <%= link_to 'full site', :mobile => 0, "data-role" => "button", "data-corners" => "true", "data-inline" => "false", "data-wrapperels" => "span" %>
    <% if user_signed_in? %>
        <%= link_to "manage tasks", tags_path, "data-role" => "button", "data-inline" => "false", "data-wrapperels" => "span", :class => "right" %>
    <% end %>
  </div>
</div>
</body>
</html>
